@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOuaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOuaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOuaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOOaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIMeaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIOuaBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofIO-aBTMnFcQIG.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v25/XRXV3I6Li01BKofINeaBTMnFcQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  background: white;
  color: #333;
  
  font-family: "Open Sans", sans-serif;

  
}
a {
  color: black;
  text-decoration: none;
  font-size: 25px;
}
a :active{
  color:black;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
  padding: 25px;
}

nav .logo {
  margin-right: auto;
}
nav .wallet {
  margin-left: auto;
}
footer {
  display: block;
  text-align: center;
  padding: 30px 0;
  margin-top: 60px;
  color: #777;
  border-top: 1px solid #eaeaea;
}

.hero{
  position: relative;
  font-size: 50px;
  line-height: 115%;
  margin-bottom: 24px;
  font-size: 24px;
  line-height: 150%;
  /* max-width: 484px; */
  margin-bottom: 14px;
}
.images{
  width: 750px!important;
}
.herocontainer{
  position: relative;
  color: black;
  margin: auto;
width: 100%;
border: 3px solid transparent;

}
.heroinformation{
  width: 80%;
  margin: auto;
  position: relative;
  border: 3px solid transparent;
  display: flex;
  height: 100vh;
  
  border: 3px solid transparent;
  vertical-align: middle;
}
.herotitle{
  font-size: 50px;
  line-height: 115%;
  vertical-align: middle;
  
}
.herotext{
  font-size: 24px;
  line-height: 150%;
  max-width: 484px;
  margin-bottom: 14px;
  vertical-align: middle;
}
.herotextred{
  color: white;
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: italic;
  vertical-align: middle;
}

.heroimg{
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 5;
  right: 10%;
  bottom: -80px;
  display: block;
  vertical-align: middle;
}
.herobackground{
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  right: 20%;
}

.float-child {
  width: 50%;
  float: left;
  margin: auto;
  border: 2px solid transparent;
}  
.float-child-image{
  margin: auto;
}
svg {
  width: inherit;
  height: inherit;
 }

 .button{
  color: black;
  background: -webkit-linear-gradient(#69E2FF, #1387D2);
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  font-weight: 900;
}
.redbutton{
  color: black;
  background: -webkit-linear-gradient(#ff8867, #ff52ff);
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  font-weight: 900;
}

.button a:hover{
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  color: white;
}

.hero a{
  color: white;
  text-align: center;
  background: -webkit-linear-gradient(left, #00FFA3, #03E1FF);
  padding: 15px;
  width: 80%;
  margin: 0 auto;
  border-radius: 25px;
  font-weight: 900;
}


.authed-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.sub-text {
  font-size: 25px;
  color: white;
}

.gradient-text {
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cta-button {
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.cta-button a:hover{
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  color: black;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.Tabs {
  width: auto;
  height: auto;
  min-height: 400px;
  background-color: white;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: black;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
 }

 ul.nav {
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 2rem;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}
ul.nav li:hover {
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  color: black;
}
ul.nav li.active {
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  color: black;
}

li.passive {
  background: -webkit-linear-gradient(left, white, #C9F5FA);
  color: black;
}

   
.FirstTab p,
.SecondTab p {
  font-size: 2rem;
  text-align: center;
  display:block;
    margin:auto;
}

.images {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%!important;
}

.moreinfo{
  display:flex; flex-direction:row;
}
.arrow{
  max-width: 10%;
  max-height: auto!important;
}

.footer-text{
  color: black;
}

a:hover{
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  color: white;
  
}
nav a:hover{
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
nav a:active{
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.footer-container{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;  /* Height of the footer */
 background: whitesmoke;
 opacity: 0.7;
 text-align: center;
}

.footer-container a:hover{
  background: -webkit-linear-gradient(left, #ff8867, #ff52ff);
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.connect-wallet-button {
  color: black;
  background: -webkit-linear-gradient(left, #00FFA3, #03E1FF);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  
}
.connect-wallet-button :hover{
  color: white;
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
}


  #name {
    width: 30%;
    height: 25px;
  }
  #contact{
    width: 20%;
    height: 30px;
  }
  #jobdescription{
    width: 50%;
    height: 200px;
  }
.postbutton{
  padding: 10px;

  background: -webkit-linear-gradient(#00FFA3, #03E1FF);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  border-radius: 10px;
  height: 45px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
.postbutton:hover{
  color: black;
}
.cta-button.connect-wallet-button:hover{
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  color: black;
}

.jobTitle{
  background: -webkit-linear-gradient(left,#69E2FF, #1387D2);
  color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-wrapper {
  width: 100vw;
  position: relative;
}

.gallery {
  background-color: #202124;
  
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow-y: auto;
  padding-top: 20px;

}

.gallery-nft-row {
  width: 640px;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin: 10px;
  gap: 50px;
}

.gallery-nft {
  background-color: hsl(215, 67%, 96%);
  width: 300px;
  height: auto;
  /* border: 1px solid white; */
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
  padding: 1.5rem 1.6rem 2rem;
  padding: 50px;
}
.img-container {
  display: block;
  max-width: 300px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.gallery-nft img {
  
  /* width: 100px;
  height: 100px; */
  position: relative;
  margin:  auto;
  height: 250px;
  width: 250px;
  max-width: 300px;
}
.gallery-nft-name{
  color:rgb(26, 15, 15);
  margin: 1.4rem 0 0.75rem;
  font-size: 1.4rem;
  font-weight: 400;
}
.jobtext{
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .outlet, .container{
  background-color: #eaeaea;
} */

.linebreak{
  width: 100vw;
  margin: auto;
}
.galleryButton{
  text-align: center; 
  margin: auto;
  display: flex;
  background-color: #202124;
  color: #333;
  font-family: "Nunito";
  padding: 10px;
  width: 30%;

}

.buttontext{
  text-align: center;
  margin: auto;
}

.hideProfile{
  display: none;
}

@media only screen and (max-width: 600px) {
 
  body{
    font-size: 15px;
  }
  a{
    font-size: 15px;
  }
  .header {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  nav {
    margin: 5px auto 20px;
    padding: 5px 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px solid #ddd;
  }
  nav a {
    margin-left: 5px;
    padding: 10px;
  }
  
  nav .logo {
    margin-right: auto;
  }
  nav .wallet {
    margin-left: auto;
  }
  
  .oneliner{
    font-weight: bold;
  }
  .me-auto{
    padding: 20px;
  }
  
  .herotitle{
    font-size: 30px;
    line-height: 115%;
    margin-bottom: 24px;
    vertical-align: middle
  }
  .hero{
    position: relative;
    font-size: 50px;
    line-height: 115%;
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 150%;
    /* max-width: 484px; */
    margin-bottom: 14px;
    vertical-align: middle
  }
  .herotext{
    font-size: 12px;
    line-height: 150%;
    max-width: 484px;
    margin-bottom: 14px;
  }
  .connect-wallet-button {
    color: black;
    background: -webkit-linear-gradient(left, #00FFA3, #03E1FF);
    background-size: 200% 200%;
    animation: gradient-animation 4s ease infinite;
    font-size: 5px
    
  }


.float-child-image {
  width: 100%;
  margin: auto;



}  
.float-child{
  padding: 15px;
  margin: auto;

}
.heroinformation{
  width: 100%;
  height: 100vw;
  margin: auto;
}
  
}

.card-text{
  overflow:hidden;
  width:auto;
  display:inline;
}
.JobBox{
  overflow:hidden;
  width:auto;
  display:inline;
}

.signedInStatus {
  display: block;
  min-height: 4rem;
  width: 100%;
}

.loading,
.loaded {
  position: relative;
  top: 0;
  opacity: 1;
  overflow: hidden;
  border-radius: 0 0 0.6rem 0.6rem;
  padding: 0.6rem 1rem;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in;
}

.loading {
  top: -2rem;
  opacity: 0;
}
.navItems {
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
}

.navItem {
  display: inline-block;
  margin-right: 1rem;
}

@media only screen and (min-width: 600px) {
  .nav-item{
    display: flex;
    width: 30%;
  }
}

.profileWallet, .username, .connectsocials, .walletSave{
  display: inline-block;
  padding: 20px;
}
.profilePage{
  margin: auto;
  width: 50%;
}
.edutitle{
  text-align: center;
}
